page-changepassword {
    @import url('https://fonts.googleapis.com/css?family=Poppins');

    .toolbar-background{ background-color: #c94838;}
    .bar-button-default{ color: #ffffff; }
    .toolbar-title{ color: #ffffff; text-transform: uppercase; font-family: 'Poppins', sans-serif;  font-weight: 300 !important; }
    
    .content { background: #f6f6f6 !important;  }
    .item{ background-color: transparent; }
    ion-input { border: 1px solid #d5d5d5; background-color: #ffffff; font-family: 'Poppins', sans-serif;}
    .label{ color: #222222 !important; font-family: 'Poppins', sans-serif; font-size: 1.4rem !important; font-weight: 400; }
    .checkbox{ margin-right: 5px !important;}
    .checkbox .checkbox-checked{ background-color: #17a2b8; border-color: #17a2b8; }
    .grid .row .col .item .item-inner{ padding-right: 0!important; }
    .grid .row .col .item .item-inner .input-wrapper .label{ text-overflow: normal; white-space: normal; word-wrap: break-all; font-size: 1.2rem !important; margin-right: 0 !important;}
    .sign-in-btn{ background: #c94838; border-radius: 2px; font-family: 'Poppins', sans-serif; text-transform: inherit; font-weight: 400; background: -moz-linear-gradient(top, #c94838 0%, #c94838 50%, #b84031 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c94838 0%,#b84031 50%,#b84031 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c94838 0%,#b84031 50%,#b84031 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */ }
    .line{ border-top: 1px solid #c0b6b6; margin-top: 8px;}
    .line-row{ padding-left: 10px; padding-right: 10px; }
    .fb-btn{ background: #19418b; border-radius: 2px; font-family: 'Poppins', sans-serif; text-transform: inherit; font-weight: 400;}
    .fb-btn img{ width: 19px; padding: 0 10px 0 0; }
    .g-plus-btn{ background: #d93703; border-radius: 2px; font-family: 'Poppins', sans-serif; text-transform: inherit; font-weight: 400;}
    .g-plus-btn img{ width: 29px; padding: 0 10px 0 0; }
    .bottom-text{ text-align: center; color: #222222; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 13px; }
    .bottom-text span{ text-decoration: underline; }
    .rdo-btn{ width: auto; }
    .text-input{ padding: 0 6px; font-size: 1.1rem; color: #404040;}
    
    .p-t-5{padding-top: 5px !important;}
    .p-b-5{padding-bottom: 5px !important;}
    
    .no-p-l{ padding-left: 0; }
    .no-p-r{ padding-right: 0; }
    .no-p-t{ padding-top: 0 !important; }
    .no-p-b{ padding-bottom: 0 !important; }
}
