<!--
  Generated template for the CategorylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Coupon</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <h4>Location</h4>
      <ion-item *ngFor="let loc of locationresult"> 
          <h2 (click)= "golocation(loc.type,loc.location_id)">{{loc.location_name}}</h2>       
      
        <!-- <p><ion-icon name="calendar"></ion-icon> <span class="date">{{ol.buy_date}} </span></p>
        <p><ion-icon name="pricetag"></ion-icon><span class="price"> {{ol.coupon_price}} </span></p>
  
        <button item-end class="button-edit"><ion-icon name="create"></ion-icon></button> -->
        
      </ion-item>
<h4>Category</h4>
    <ion-item *ngFor="let caty of categoryresult"> 
      <h2 (click)= "couponlist(caty.type,caty.category_id)">{{caty.category_name}}</h2>     
    
      <!-- <p><ion-icon name="calendar"></ion-icon> <span class="date">{{ol.buy_date}} </span></p>
      <p><ion-icon name="pricetag"></ion-icon><span class="price"> {{ol.coupon_price}} </span></p>

      <button item-end class="button-edit"><ion-icon name="create"></ion-icon></button> -->
      
    </ion-item>
    <h4>Store</h4>
    <ion-item *ngFor="let st of storeresult"> 
      <h2 (click)= "shoplist(st.type,st.shop_id)">{{st.shop_name}}</h2>     
    
      <!-- <p><ion-icon name="calendar"></ion-icon> <span class="date">{{ol.buy_date}} </span></p>
      <p><ion-icon name="pricetag"></ion-icon><span class="price"> {{ol.coupon_price}} </span></p>

      <button item-end class="button-edit"><ion-icon name="create"></ion-icon></button> -->
      
    </ion-item>
    
    
    
    
    
  </ion-list>
</ion-content>
