page-usershoplist {
    @import url('https://fonts.googleapis.com/css?family=Poppins');

    .toolbar-background{ background-color: #c94838;}
    .bar-button-default{ color: #ffffff; }
    .toolbar-title{ color: #ffffff; text-transform: uppercase; font-family: 'Poppins', sans-serif;  font-weight: 300 !important; }
    .toolbar-background{ border-width: 0 !important;}
    .searchbar-input{ background-color: #ffffff !important; line-height: 2rem !important; box-shadow: none !important; }
    .trnsprnt-btn{ background-color: transparent; box-shadow: none; height: auto !important; padding: 0 !important; align-items: center !important; justify-content: center !important; height: 26px !important; }
    .searchbar { min-height: auto; padding: 0;}
    .searchbar .searchbar-search-icon{ top: 7px !important; }
    .content { background-color: #f6f6f6; }
    .item ion-thumbnail{ min-width: 60px !important; min-height: 60px !important; }
    .item ion-thumbnail img{ width: 60px !important; height: 60px !important; }
    .item h2{text-overflow: normal; white-space: normal; word-wrap: break-all; font-size: 1.5rem !important; font-family: 'Poppins', sans-serif;  font-weight:400; }
    .item p{text-overflow: normal; white-space: normal; word-wrap: break-all; font-size: 1.2rem !important; font-family: 'Poppins', sans-serif;  font-weight:400;}
    .price{ color: #222222; }
    .cross-text{ color: #222222; text-decoration: line-through; }
    .green-text{ color: #179702; }
    .item .item-button{ font-size: 1rem !important; border: 1px solid #c94838; color: #c94838; background-color: #ffffff; font-family: 'Poppins', sans-serif !important; text-transform: uppercase !important; font-family: 'Poppins', sans-serif !important; }
    .item{ border-bottom: 1px solid #e4e4e4 !important; }
    .item-inner{ border-bottom: none !important; }
    .no-p-l{ padding-left: 0; }
    .no-p-r{ padding-right: 0; }
    .no-p-t{ padding-top: 0 !important; }
    .no-p-b{ padding-bottom: 0 !important; }
    
    .no-m-l{ margin-left: 0; }
    .no-m-r{ margin-right: 0; }
    .no-m-t{ margin-top: 0 !important; }
    .no-m-b{ margin-bottom: 0 !important; }
}
