<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

<ion-slides pager>

  <ion-slide>
    <div class="home-banner">
      <img src="assets/img/home-banner.png" alt="Ionic logo">
      <div class="banner-text">
       <ion-grid class="no-p-b">
         <ion-row>
           <ion-col class="no-p-b" col-5 > <h5 class="upto no-m-b" text-right >up <br> to</h5> </ion-col>
          <ion-col  class="no-p-b no-p-l no-p-r"  col-2> <h3 class="nmbr no-m-b" text-center>40</h3> </ion-col>
          <ion-col class="no-p-b"  col-5> <h5 class="upto no-m-b" text-left>% <br> OFF</h5> </ion-col>
         </ion-row>
       </ion-grid>
       <p class="no-m-b no-m-t">Lorem ipsum dolor sit amet, co nsectetur adipiscing elit.</p>
      </div>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="home-banner">
      <img src="assets/img/home-banner.png" alt="Ionic logo">
    </div>
  </ion-slide>

  <ion-slide>
    <div class="home-banner">
      <img src="assets/img/home-banner.png" alt="Ionic logo">
    </div>
  </ion-slide>

</ion-slides>

<div class="body-part" >
  <ion-item class="categories">
      <h2> <span class="underline">Popular</span> Categories</h2>
  </ion-item>

    <div class="categories-pic-area">

      <div class="categories-pic" *ngFor="let pc of popularcategorylist">
        <img src="{{pc.category_image}}" alt="Ionic logo" (click)= "deallist(pc.type,pc.category_id)">
    
      </div>
      <!-- <div class="categories-pic">
        <img src="assets/img/cate-pic-b.png" alt="">
      </div>
      <div class="categories-pic">
        <img src="assets/img/cate-pic-c.png" alt="">
      </div>
      <div class="categories-pic">
        <img src="assets/img/cate-pic-d.png" alt="">
      </div>
      <div class="categories-pic">
        <img src="assets/img/cate-pic-e.png" alt="">
      </div>
      <div class="categories-pic">
        <img src="assets/img/cate-pic-a.png" alt="">
      </div>
      <div class="categories-pic">
        <img src="assets/img/cate-pic-b.png" alt="">
      </div>
      <div class="categories-pic">
        <img src="assets/img/cate-pic-c.png" alt="">
      </div>
      <div class="categories-pic">
        <img src="assets/img/cate-pic-d.png" alt="">
      </div> -->
    </div>

    <ion-item class="trending">
      <h2> <span class="underline">COUPONS</span> HERE</h2>
   </ion-item>
   <div class="trending-pic-area">

    <div class="trending-pic" *ngFor="let c of categorylist">
      <img src="{{c.category_image}}" alt="" (click)= "couponlist(c.type,c.category_id)">
      <p class="boxing-text">{{c.category_name}}</p>
      
    </div>

    <!-- <div class="trending-pic">
      <img src="assets/img/trnding-a.png" alt="">
      <p class="boxing-text">Kick boxing</p>
      <p class="price-text no-m-b no-m-t">Price: $ 500.00</p>
      <p class="green-text no-p-t no-m-t no-m-b">$ 200.02</p>
      <button ion-button color="danger">View Deal</button>
    </div>

    <div class="trending-pic">
      <img src="assets/img/trnding-a.png" alt="">
      <p class="boxing-text">Kick boxing</p>
      <p class="price-text no-m-b no-m-t">Price: $ 500.00</p>
      <p class="green-text no-p-t no-m-t no-m-b">$ 200.02</p>
      <button ion-button color="danger">View Deal</button>
    </div>

    <div class="trending-pic">
      <img src="assets/img/trnding-a.png" alt="">
      <p class="boxing-text">Kick boxing</p>
      <p class="price-text no-m-b no-m-t">Price: $ 500.00</p>
      <p class="green-text no-p-t no-m-t no-m-b">$ 200.02</p>
      <button ion-button color="danger">View Deal</button>
    </div>

    <div class="trending-pic">
      <img src="assets/img/trnding-a.png" alt="">
      <p class="boxing-text">Kick boxing</p>
      <p class="price-text no-m-b no-m-t">Price: $ 500.00</p>
      <p class="green-text no-p-t no-m-t no-m-b">$ 200.02</p>
      <button ion-button color="danger">View Deal</button>
    </div>

    <div class="trending-pic">
      <img src="assets/img/trnding-a.png" alt="">
      <p class="boxing-text">Kick boxing</p>
      <p class="price-text no-m-b no-m-t">Price: $ 500.00</p>
      <p class="green-text no-p-t no-m-t no-m-b">$ 200.02</p>
      <button ion-button color="danger">View Deal</button>
    </div> -->

   </div>
   
</div>
  
</ion-content>
