page-home {
@import url('https://fonts.googleapis.com/css?family=Poppins');

.toolbar-background{ background-color: #c94838;}
.bar-button-default{ color: #ffffff; }
.toolbar-title{ color: #ffffff; text-transform: uppercase; font-family: 'Poppins', sans-serif;  font-weight: 300 !important; }

.home-banner{ width: auto; margin: 0 auto; overflow: hidden;}
.home-banner img{ position: relative; }
.slides{ height: auto; }
.swiper-slide{ display: block; }
.swiper-pagination-bullet-active{ background: #c94838 !important; }
.banner-text{ background: url(../assets/img/banner-text.png) no-repeat center top; width: 200px; height: 100px; position: absolute; z-index: 100; top:15px; right: 0; bottom:0; left:0; margin: 0 auto; }
.upto{ font-weight: 400; font-size: 14px; margin-top: 3px; text-transform: uppercase; color: #ffffff; }
.nmbr{font-weight: 600; color: #ffffff;  margin-top: 5px; font-size: 26px; text-shadow: 0px 0px 1px #000;}
.banner-text p{ font-size: 12px; font-weight: 400; color: #fff; padding: 0 16px; }
.content { background: #f6f6f6 !important;  }
.body-part{width: auto; }
.categories{ width: auto; background-color: transparent; padding-left: 0; }
.categories h2{ color: #222222; padding-left: 10px;  font-family: 'Poppins', sans-serif; text-transform: uppercase;  font-weight: 500 !important;  margin-bottom: 5px !important; margin-top: 8px; }
.categories h2 .underline{ border-bottom: 2px solid #222222; line-height: 28px;  display: inline-block;}
.categories .item-inner{  border-bottom:none !important; }
.categories .item-inner .input-wrapper .label{ margin-top: 0;}
.categories-pic-area{  margin-bottom: 10px;    display: -webkit-box; display: -ms-flexbox; display: flex;  overflow-x: scroll;  display: -webkit-box;  overflow-y: hidden;}
.categories-pic{ width: auto; height: 65px;  margin: 0 1%;}
.categories-pic img{ width: auto; height: 100%; border-radius: 3px; }
.trending{ width: auto; background-color: transparent; padding-left: 0; }
.trending h2{ color: #222222; padding-left: 10px; font-family: 'Poppins', sans-serif; text-transform: uppercase; font-weight: 500 !important; margin-bottom: 5px !important; margin-top: 0; }
.trending h2 .underline{ border-bottom: 2px solid #222222;  width: 23%; line-height: 28px;  display: inline-block; }
.trending .item-inner{  border-bottom:none !important; }
.trending-pic-area{  width: 100%; margin: 0 1%; display: flex; flex-wrap: wrap; position: relative;}
.trending-pic{ width: 31%;   margin: 0 1% 10px; box-shadow: 0 0 1px #a1a1a1; height: 100px; position: relative}
.trending-pic img{ width: 100%; height: 100px; border-radius: 3px; position: relative; object-fit: cover;}
.boxing-text{position: absolute;
    font-size: 11px;
    z-index: 100;
    color: #ffffff !important;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400 !important;
    background: #24b6ac;
    left: 0;
    padding: 2px 7px;
    letter-spacing: 1px;
    margin: 0;
    width: 100%;}
.trending-pic p{ color: #000; }
.price-text{ font-size: 12px; color: #222222; text-align: center; font-family: 'Poppins', sans-serif;  font-weight:400; padding-left: 5px; }
.green-text{ font-size: 12px; text-align: center; color: #179702 !important; font-family: 'Poppins', sans-serif; font-weight:400; padding-left: 5px;}
.trending-pic .button{ min-height: 24px !important; line-height: 24px !important; background-color: #c94838 !important; border-radius: 3px !important; font-family: 'Poppins', sans-serif; text-transform: uppercase; font-weight: 300 !important; padding: 2px 6px; height: auto; margin: 0 auto; display: table; font-size: 1.2rem;}



.no-p-l{ padding-left: 0; }
.no-p-r{ padding-right: 0; }
.no-p-t{ padding-top: 0 !important; }
.no-p-b{ padding-bottom: 0 !important; }

.no-m-l{ margin-left: 0; }
.no-m-r{ margin-right: 0; }
.no-m-t{ margin-top: 0 !important; }
.no-m-b{ margin-bottom: 0 !important; }

}
