<!-- <ion-nav [root]="rootPage"></ion-nav> -->
<ion-split-pane >

    
    <ion-menu id="loggedOutMenu" [content]="content" >
  
      <ion-header>
        <ion-item class="side-bar-header">
          <ion-thumbnail item-start>
            <img src="https://cap.stanford.edu/profiles/viewImage?profileId=19141&type=square&ts=1509532892453">
          </ion-thumbnail>
          <h2>{{firstname}} {{lastname}}</h2>
          <p><ion-icon name="pin"></ion-icon> California CA, USA</p>
        </ion-item>
      </ion-header>
     
      <ion-content>
        <ion-card class="sidepanel-list">
          <ion-item menuClose (click)="myaccount()">
            <ion-icon name="person" item-start ></ion-icon> My Dashboard
          </ion-item>
          <ion-item menuClose (click)="changepassword()">
            <ion-icon name="unlock" item-start></ion-icon> Change Password
          </ion-item> 
          <!-- <ion-item  *ngIf="istype==0" menuClose (click)="goToPage('CodescannerPage')">
            <ion-icon name="pricetag" item-start></ion-icon> Loyalty add
          </ion-item>  -->

          <ion-item  *ngIf="istype==0" menuClose (click)="shopadd()">
            <ion-icon name="pricetag" item-start></ion-icon> Add Shop
          </ion-item>

          <ion-item  *ngIf="istype==0" menuClose (click)="usershoplist()">
            <ion-icon name="pricetag" item-start></ion-icon> Shop list
          </ion-item>

          <ion-item  *ngIf="istype==0" menuClose (click)="loyaltyadd()">
            <ion-icon name="pricetag" item-start></ion-icon> Add Loyalty
          </ion-item>

          <ion-item  *ngIf="istype==0" menuClose (click)="userloyaltylist()">
            <ion-icon name="pricetag" item-start></ion-icon> Loyalty list
          </ion-item>

          <ion-item  *ngIf="istype==0" menuClose (click)="dealadd()">
            <ion-icon name="pricetag" item-start></ion-icon> Add Deal
          </ion-item>

          <ion-item  *ngIf="istype==0" menuClose (click)="userdeallist()">
            <ion-icon name="pricetag" item-start></ion-icon> Deal list
          </ion-item> 
          
          <ion-item  *ngIf="istype==0" menuClose (click)="couponadd()">
              <ion-icon name="pricetag" item-start></ion-icon> Add Coupon
  
            </ion-item> 
            <ion-item  *ngIf="istype==0" menuClose (click)="usercouponlist()">
              <ion-icon name="pricetag" item-start></ion-icon> Coupon list
            </ion-item>


          <ion-item  *ngIf="istype==0" menuClose (click)="orderlist()">
            <ion-icon name="pricetag" item-start></ion-icon> Order list
          </ion-item> 

          <ion-item  *ngIf="istype==0" menuClose (click)="wallet()">
            <ion-icon name="pricetag" item-start></ion-icon> My Wallet
          </ion-item> 

          <ion-item  *ngIf="istype==0" menuClose (click)="packagesubscribed()">
            <ion-icon name="pricetag" item-start></ion-icon> Package Subscribed
          </ion-item>

          <ion-item  *ngIf="istype==1" menuClose (click)="purchasehistory()">
            <ion-icon name="pricetag" item-start></ion-icon> Purchase History
          </ion-item> 

          <ion-item menuClose (click)="logout()">
            <ion-icon name="pricetag" item-start></ion-icon> Log out
          </ion-item>

        </ion-card>
      </ion-content>

      
  
    </ion-menu>
  
    
  
    <!-- main navigation -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>
   
    
  </ion-split-pane>
  <ion-footer *ngIf="!footerIsHidden" class="footer">
    <ion-toolbar style=" padding: 0;">
      <ion-grid style=" padding: 0;">
        <ion-row class="row-bottom">
          <ion-col text-center >
              <a (click)="gohome()">
                  <ion-icon name="home"></ion-icon>
                  <p class="titl">Home</p>
              </a>
          </ion-col>
          <ion-col text-center>
            <a (click)="godeal()">
              <ion-icon name="pricetags" ></ion-icon>
              <p class="titl">Deals</p>
            </a>
          </ion-col>
          <ion-col text-center>
            <a (click)="gocategory()" >
              <ion-icon name="ios-list-box-outline"></ion-icon>
              <p class="titl">Coupons</p>
            </a>
          </ion-col>
        
          <ion-col text-center col-5>
            <a >
              <ion-icon name="ios-person-outline"></ion-icon>
              <p class="titl">Loyality Program</p>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  
  
  </ion-footer>