page-dealmenu {
    .toolbar-background{ background-color: #c94838;}
    .toolbar-title{ color: #ffffff; text-transform: uppercase; font-family: 'Poppins', sans-serif;  font-weight: 300 !important; }
}
