page-mywallet {
	.toolbar-background{ background-color: #c94838;}
    .bar-button-default{ color: #ffffff; }
    .toolbar-title{ color: #ffffff; text-transform: uppercase; font-family: 'Poppins', sans-serif;  font-weight: 300 !important; }
	.count-table{border:1px solid #e1e1e1; padding:0; margin-bottom:15px}
	.count-table h5{background:#24B6AC; color:#fff; font-size:1.3rem; padding:5px; margin:0}
	.count-table p{padding:5px; margin:0}
	.count-table .col{padding:0}
	.count-table .col:first-child{border-right:1px solid #efefef;}
	
	.package-card{margin:0; margin-bottom:20px; width:100%; }
	.package-card .card-header{background:#C94838; color:#fff; font-size:1.5rem; padding:8px 10px; margin:0}
	.package-card .card-content{font-size:1.2rem; padding:0; margin:0}
	
	.package-table .row{border-bottom:1px solid #efefef;}
	.package-table .row:last-child{border-bottom:0;}
	.package-table h5{margin-top:0 !important; font-weight:500; line-height:1.5}
	.package-table p{color:#888}
	.package-table .item.item-radio{padding-left:0}
	.package-table ion-label.label{margin-top:2px; margin-bottom:2px; font-size:1.4rem}
}
